**Imbalanced Dataset**

A dataset wiith an unequal class distribution

for example our diabetic dataset which has 1000 datapoint of people with +ve diabetes and 100 with negative ,

we can't feed such data to our ml model,we'll need to process it inorder to remove this imbalance

In [1]:
#importing the dependencies
import numpy as np
import pandas as pd

In [2]:
#loading the dataset to pandas dataframe
credit_card_data = pd.read_csv('/content/credit_data.csv')

*This dataset contains many transaction in which some are fraudulant and some are not*

*we will use to check if a transaactio is legit or fraud*

In [3]:
print(credit_card_data.head())

   Time        V1        V2        V3        V4        V5        V6        V7  \
0     0 -1.359807 -0.072781  2.536347  1.378155 -0.338321  0.462388  0.239599
1     0  1.191857  0.266151  0.166480  0.448154  0.060018 -0.082361 -0.078803
2     1 -1.358354 -1.340163  1.773209  0.379780 -0.503198  1.800499  0.791461
3     1 -0.966272 -0.185226  1.792993 -0.863291 -0.010309  1.247203  0.237609
4     2 -1.158233  0.877737  1.548718  0.403034 -0.407193  0.095921  0.592941

         V8        V9  ...       V21       V22       V23       V24       V25  \
0  0.098698  0.363787  ... -0.018307  0.277838 -0.110474  0.066928  0.128539
1  0.085102 -0.255425  ... -0.225775 -0.638672  0.101288 -0.339846  0.167170
2  0.247676 -1.514654  ...  0.247998  0.771679  0.909412 -0.689281 -0.327642
3  0.377436 -1.387024  ... -0.108300  0.005274 -0.190321 -1.175575  0.647376
4 -0.270533  0.817739  ... -0.009431  0.798278 -0.137458  0.141267 -0.206010

        V26       V27       V28  Amount  Class
0 -0.189115  0.133558 -0.021053  149.62    0.0
1  0.125895 -0.008983  0.014724    2.69    0.0
2 -0.139097 -0.055353 -0.059752  378.66    0.0
3 -0.221929  0.062723  0.061458  123.50    0.0
4  0.502292  0.219422  0.215153   69.99    0.0

[5 rows x 31 columns]

**0->>legit transaction**

**1-->fraud**

In [4]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
63467,50729,-0.885149,0.685702,2.633474,-0.627847,-0.382435,-0.341406,0.412056,0.144234,-0.591181,...,0.139998,0.262089,-0.177035,0.567301,0.143500,0.273751,0.000619,0.063722,33.86,0.0
63468,50730,1.524481,-0.443952,-0.917431,-1.170535,0.196548,-0.104157,-0.219461,-0.107692,-1.174652,...,0.120102,0.212776,-0.381743,-1.365279,0.966568,0.006848,-0.040391,-0.027141,15.00,0.0
63469,50731,0.384574,-1.420667,0.895325,1.034192,-1.259366,0.563206,-0.266365,0.235659,0.679938,...,0.103934,-0.241229,-0.224265,0.293396,0.006356,0.334843,-0.043213,0.075555,368.90,0.0
63470,50731,-2.905183,2.331722,-1.051898,-0.078557,3.616107,-0.652025,4.420506,-5.210530,6.723739,...,-1.285569,-0.230240,-0.541085,-0.742582,0.018568,-0.863808,-1.438975,-2.156480,1.00,0.0
63471,50731,-0.289526,-1.037570,2.355009,-1.311061,-1.830279,0.209060,-1.256847,0.304098,-1.761717,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#determine the distribution of the 2 classes
credit_card_data['Class'].value_counts()

Class
0.0    63306
1.0      165
Name: count, dtype: int64

**This is Highly imbalanced dataset**

In [6]:
#separating the legit and fraudulant transactions
legit = credit_card_data[credit_card_data.Class == 0]
#it'll take all the rows which contains the class value as 0
fraud = credit_card_data[credit_card_data.Class == 1]
#this will contain all tthe fraudulant data points

In [7]:
print(legit.shape)
print(fraud.shape)
#

(63306, 31)
(165, 31)

**UnderSampling:-we'll take random datapoints sample from the legit ones equivalent to the fraud ones**

*building a sample dataset containing similar distribution of legit and fraudulant transaction.*

number of fradulant transaction=165

we don't need to take exact same value we can take round of to it.

In [8]:
legit_sample = legit.sample(n=165)

In [9]:
print(legit_sample.shape)

(165, 31)

In [10]:
#concatinate the 2 dataframes
new_dataset = pd.concat([legit_sample,fraud],axis=0)

In [11]:
print(new_dataset.head())

        Time        V1        V2        V3        V4        V5        V6  \
63073  50541  1.310555 -0.041590 -1.092799 -0.555048  2.027456  3.269033
22942  32511  1.288333 -0.742320  0.146965 -0.709788 -1.084582 -0.874912
3792    3304 -1.104761  0.985433  2.792014  1.530766 -1.120050  0.733929
28408  34996  1.158233  0.079371  0.580448  0.672515 -0.561092 -0.727278
35839  38290  0.752162 -1.710473 -1.046897 -2.204288  0.897576  3.439471

             V7        V8        V9  ...       V21       V22       V23  \
63073 -0.531663  0.807599 -0.053020  ... -0.311787 -1.070259  0.101584
22942 -0.530117 -0.048522 -0.881143  ...  0.271793  0.484509 -0.146831
3792  -0.675499  0.888995  0.287414  ...  0.099014  0.668373 -0.217541
28408 -0.053282 -0.035261  0.169765  ... -0.208930 -0.662214  0.202461
35839 -0.832672  0.866353  1.746613  ...  0.108176 -0.267034 -0.313710

            V24       V25       V26       V27       V28  Amount  Class
63073  0.992255  0.368477  0.110106 -0.028776  0.012273    4.49    0.0
22942  0.328736  0.521048 -0.133200 -0.031106  0.004884   59.80    0.0
3792   0.443090  0.257279 -0.059672  0.300432  0.092506    5.00    0.0
28408  0.368239  0.060170  0.105486 -0.022188  0.019919   19.99    0.0
35839  1.071987  0.416959 -0.043765 -0.007370  0.071052  300.00    0.0

[5 rows x 31 columns]

In [12]:
print(new_dataset.tail())

        Time        V1        V2         V3        V4        V5        V6  \
58422  48380 -2.790771 -1.464269   1.031165  1.921356 -0.090014 -0.483871
58761  48533  1.243848  0.524526  -0.538884  1.209196  0.479538 -0.197429
59539  48884 -2.139051  1.394368  -0.612035  1.049327 -1.162102 -0.768219
61787  49985 -1.554216  1.694229  -0.903334  2.425436 -2.899787  0.133028
63421  50706 -8.461845  6.866198 -11.838269  4.194211 -6.923097 -3.221147

             V7        V8        V9  ...       V21       V22       V23  \
58422  0.780731 -0.348776  0.609133  ... -0.392667  0.440020  0.777659
58761  0.049166  0.037792  0.128119  ... -0.051660 -0.084089 -0.192846
59539 -1.997237  0.574997 -0.980832  ...  0.696955  0.740003 -0.155115
61787 -0.286226  0.555945 -1.394918  ...  0.493436  0.733393  0.202350
63421 -7.553497  6.015618 -2.466143  ...  0.918244 -0.715366  0.210747

            V24       V25       V26       V27       V28  Amount  Class
58422  0.418552  0.244563 -0.159361  0.060540  0.356958  208.58    1.0
58761 -0.917392  0.681953 -0.194419  0.045917  0.040136    1.00    1.0
59539 -0.050607  0.268368 -0.469433 -0.405814 -0.152171   19.73    1.0
61787  0.492054 -0.183791 -0.199917  0.395201  0.027693  360.00    1.0
63421 -0.060211  0.509535 -0.257284  1.170027  0.229301   99.99    1.0

[5 rows x 31 columns]

In [ ]:
now we can see the legit data is in fronnt and the fraud one behinnd it

In [14]:
new_dataset['Class'].value_counts()

Class
0.0    165
1.0    165
Name: count, dtype: int64