**Pandas Library**

useful for Data Processing and analysis

Pandas Data Frame:

Pandas DataFrame is two-dimensional tabular data structure with the labeled axes(rows and columns)

In [31]:
#importing the pandas library
import pandas as pd
import numpy as np

Creating a Pandas Data Frame

We have already uploaded one data set from the video description and for the other one we'll import it from sklearn

In [32]:
#importing california housing price data
from sklearn.datasets import fetch_california_housing
housing_dataset = fetch_california_housing()

In [33]:
#we can check the dataset's type as well hence

In [34]:
type(housing_dataset)

sklearn.utils._bunch.Bunch

In [35]:
#printing the dataset values
#as it's datatype is bunch which is a dictionary hence we'll recieve the data as key value pairs

print(housing_dataset)

{'data': array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
          37.88      , -122.23      ],
       [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
          37.86      , -122.22      ],
       [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
          37.85      , -122.24      ],
       ...,
       [   1.7       ,   17.        ,    5.20554273, ...,    2.3256351 ,
          39.43      , -121.22      ],
       [   1.8672    ,   18.        ,    5.32951289, ...,    2.12320917,
          39.43      , -121.32      ],
       [   2.3886    ,   16.        ,    5.25471698, ...,    2.61698113,
          39.37      , -121.24      ]]), 'target': array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894]), 'frame': None, 'target_names': ['MedHouseVal'], 'feature_names': ['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup', 'Latitude', 'Longitude'], 'DESCR': '.. _california_housing_dataset:\n\nCalifornia Housing dataset\n--------------------------\n\n**Data Set Characteristics:**\n\n:Number of Instances: 20640\n\n:Number of Attributes: 8 numeric, predictive attributes and the target\n\n:Attribute Information:\n    - MedInc        median income in block group\n    - HouseAge      median house age in block group\n    - AveRooms      average number of rooms per household\n    - AveBedrms     average number of bedrooms per household\n    - Population    block group population\n    - AveOccup      average number of household members\n    - Latitude      block group latitude\n    - Longitude     block group longitude\n\n:Missing Attribute Values: None\n\nThis dataset was obtained from the StatLib repository.\nhttps://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html\n\nThe target variable is the median house value for California districts,\nexpressed in hundreds of thousands of dollars ($100,000).\n\nThis dataset was derived from the 1990 U.S. census, using one row per census\nblock group. A block group is the smallest geographical unit for which the U.S.\nCensus Bureau publishes sample data (a block group typically has a population\nof 600 to 3,000 people).\n\nA household is a group of people residing within a home. Since the average\nnumber of rooms and bedrooms in this dataset are provided per household, these\ncolumns may take surprisingly large values for block groups with few households\nand many empty houses, such as vacation resorts.\n\nIt can be downloaded/loaded using the\n:func:`sklearn.datasets.fetch_california_housing` function.\n\n.. rubric:: References\n\n- Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,\n  Statistics and Probability Letters, 33 (1997) 291-297\n'}

As we can the this data is consisting of so many numbers and isn't very suitable hence here comes pandas which help us organise it into tabled structure let's see how:-

Basically using DataFrames

In [36]:
#pandas dataframes
housing_df=pd.DataFrame(housing_dataset.data,columns=housing_dataset.feature_names)
#the above line loads the data with the help of data name(housing_dataset)
#and the features as columns with the help column names given(feature_names)
#to our dataframe

In [37]:
#now let's see the sample of this dataset
housing_df.head() #will print first 5 rows of that dataframe

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

The head() method in pandas DataFrames is designed to display the first 5 rows by default.

This is a common convention in data analysis to quickly inspect the beginning of a dataset without printing the entire contents, which can be very large.

You can change the number of rows displayed by passing an integer argument to head(), for example, housing_df.head(10) would show the first 10 rows.

In [38]:
housing_df.shape

(20640, 8)

It was using df and loading a dataset into pandas

Now we'll see importing data from CSV files to pandas df

CSV=comma separated values

as it also the same problem that we simply can't just work on data stored like that ,we'll use data frame to structure it

In [39]:
#csv file to df
diabetes_df=pd.read_csv('/content/diabetes.csv')
#read.csv=will read the content and lead it to df of pandas abbrevated as pd
#(" path of the file")

In [40]:
type(diabetes_df)

pandas.core.frame.DataFrame

After being loaded successfully it is converted to dataframe datatype

same happened with housing_dataset file too ,earlier it was of bunch type ,later became of dataframe type

In [41]:
diabetes_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [42]:
diabetes_df.shape

(768, 9)

We can read and load excel file too using function

"pd.read_excel("file_path")"

**Exporting Dataframe to CSV file**

use the function ".to_csv("file name")

In [43]:
housing_df.to_csv('housing.csv')

After running the above line of code you'll be able to see a housing.csv file in the uploaded files section

where it was not there before.

we can just download this csv file from there and use where-ever needed.

what we have covered:-


bunch->dataframe

dataframe->csv

csv->dataframe

**Exporting the dataframe to an excel file**

dataframe_name.to_excel(file name)

housing_df.to_excel(housing.csv)

In [44]:
#creating dataFrame with random values:-
#1.will need numpy library as well for it ,hence import it too if not done yet
random_df=pd.DataFrame(np.random.rand(20,10))
#no. of rows and columns we want in the paranthesis

In [45]:
random_df.head()

,0,1,2,3,4,5,6,7,8,9
0,0.234494,0.018222,0.558218,0.557700,0.457978,0.607453,0.152532,0.295996,0.816333,0.853714
1,0.177338,0.118488,0.454848,0.353043,0.744683,0.555355,0.957952,0.737939,0.394763,0.906550
2,0.384423,0.043011,0.710220,0.753503,0.934460,0.612232,0.263113,0.392136,0.133963,0.180811
3,0.543327,0.363028,0.709108,0.253658,0.504887,0.050314,0.568654,0.919097,0.371863,0.490743
4,0.467603,0.851617,0.873939,0.455413,0.539322,0.664846,0.440817,0.972884,0.167224,0.664511

**Inspecting a Dataframe**

#finding no. of rows and columns using .shape function

#printing first 5 rows using .head() func

#printing last 5 rows using .tail() func

In [46]:
#information about the dataFrame
housing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   MedInc      20640 non-null  float64
 1   HouseAge    20640 non-null  float64
 2   AveRooms    20640 non-null  float64
 3   AveBedrms   20640 non-null  float64
 4   Population  20640 non-null  float64
 5   AveOccup    20640 non-null  float64
 6   Latitude    20640 non-null  float64
 7   Longitude   20640 non-null  float64
dtypes: float64(8)
memory usage: 1.3 MB

In [47]:
#finding no. of missing values in each column
housing_df.isnull().sum()

MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
dtype: int64

In [48]:
#counting the values based on the labels i.e no of times a value haas appeared
#for the diabetes one will see the outcome one
diabetes_df['Outcome'].value_counts()

Outcome
0    500
1    268
Name: count, dtype: int64

In [49]:
#group the values based on the mean i.e based on any specific paramenter
diabetes_df.groupby('Outcome').mean() #will give us the mean value of each column for 0 &1

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

**Statistical Measures**

In [50]:
#count the number of values in each column
housing_df.count()

MedInc        20640
HouseAge      20640
AveRooms      20640
AveBedrms     20640
Population    20640
AveOccup      20640
Latitude      20640
Longitude     20640
dtype: int64

In [51]:
#mean value column wise
housing_df.mean()

MedInc           3.870671
HouseAge        28.639486
AveRooms         5.429000
AveBedrms        1.096675
Population    1425.476744
AveOccup         3.070655
Latitude        35.631861
Longitude     -119.569704
dtype: float64

In [52]:
#standard deviation -column wise
housing_df.std()

MedInc           1.899822
HouseAge        12.585558
AveRooms         2.474173
AveBedrms        0.473911
Population    1132.462122
AveOccup        10.386050
Latitude         2.135952
Longitude        2.003532
dtype: float64

In [53]:
#minimum value
housing_df.min() #gives min value of each column
#similarly max()

MedInc          0.499900
HouseAge        1.000000
AveRooms        0.846154
AveBedrms       0.333333
Population      3.000000
AveOccup        0.692308
Latitude       32.540000
Longitude    -124.350000
dtype: float64

In [54]:
#all the stastical measure in one go for the dataframe
housing_df.describe()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,3.870671,28.639486,5.429000,1.096675,1425.476744,3.070655,35.631861,-119.569704
std,1.899822,12.585558,2.474173,0.473911,1132.462122,10.386050,2.135952,2.003532
min,0.499900,1.000000,0.846154,0.333333,3.000000,0.692308,32.540000,-124.350000
25%,2.563400,18.000000,4.440716,1.006079,787.000000,2.429741,33.930000,-121.800000
50%,3.534800,29.000000,5.229129,1.048780,1166.000000,2.818116,34.260000,-118.490000
75%,4.743250,37.000000,6.052381,1.099526,1725.000000,3.282261,37.710000,-118.010000
max,15.000100,52.000000,141.909091,34.066667,35682.000000,1243.333333,41.950000,-114.310000

**Manipulating a DataFrame**

In [56]:

#adding a column to dataframe
#when we earlier added all the info about data and features of th ehousing data
#but left target value to be added we'll add it now to get it as price
housing_df["price"]=housing_dataset.target

In [57]:
#will print the starting values of it again
housing_df.head()
#will be able to see a column named price in it now

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,price
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [58]:
#removing a particular row
housing_df.drop(index=0,axis=0)
#drop function to remove any row/column
#axis=0 for removing row and axis=1 for removing column
#index is the row you want to
#will be removed temporarily i.e just for this command and will reappear in next
#if want to reomve permanently create another variable and store in that
#housing_def2=housing_def.drop(index=0,axis=0)

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,price
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
5,4.0368,52.0,4.761658,1.103627,413.0,2.139896,37.85,-122.25,2.697
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

In [59]:
#drop a column
housing_df.drop(columns='price',axis=1)

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25
...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24

In [60]:
#locating a row using the index value
housing_df.iloc[0]
#iloc is the function used to locate particular row or column
#will give us all the values of mention index

MedInc          8.325200
HouseAge       41.000000
AveRooms        6.984127
AveBedrms       1.023810
Population    322.000000
AveOccup        2.555556
Latitude       37.880000
Longitude    -122.230000
price           4.526000
Name: 0, dtype: float64

In [64]:
#locating a particular column
print(housing_df.iloc[:,0])
# 0th column will be located i.e it's value will be printed
housing_df.iloc[:,-1] #will give value of last column

0        8.3252
1        8.3014
2        7.2574
3        5.6431
4        3.8462
          ...
20635    1.5603
20636    2.5568
20637    1.7000
20638    1.8672
20639    2.3886
Name: MedInc, Length: 20640, dtype: float64

0        4.526
1        3.585
2        3.521
3        3.413
4        3.422
         ...
20635    0.781
20636    0.771
20637    0.923
20638    0.847
20639    0.894
Name: price, Length: 20640, dtype: float64

**Co-relation**

1.positive:-values in one column increases when the values in other particular column increases

2.negative:-values in one column decreases when the values in other particular column increases

co-realtion is basically finiding relation betweeen all the available columns

In [65]:
#will give the corelation values ,-ve values means they have -ve corelation
# +ve values means they have positive co-relation
housing_df.corr()
#each column will be compared with every other column out there

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,price
MedInc,1.000000,-0.119034,0.326895,-0.062040,0.004834,0.018766,-0.079809,-0.015176,0.688075
HouseAge,-0.119034,1.000000,-0.153277,-0.077747,-0.296244,0.013191,0.011173,-0.108197,0.105623
AveRooms,0.326895,-0.153277,1.000000,0.847621,-0.072213,-0.004852,0.106389,-0.027540,0.151948
AveBedrms,-0.062040,-0.077747,0.847621,1.000000,-0.066197,-0.006181,0.069721,0.013344,-0.046701
Population,0.004834,-0.296244,-0.072213,-0.066197,1.000000,0.069863,-0.108785,0.099773,-0.024650
AveOccup,0.018766,0.013191,-0.004852,-0.006181,0.069863,1.000000,0.002366,0.002476,-0.023737
Latitude,-0.079809,0.011173,0.106389,0.069721,-0.108785,0.002366,1.000000,-0.924664,-0.144160
Longitude,-0.015176,-0.108197,-0.027540,0.013344,0.099773,0.002476,-0.924664,1.000000,-0.045967
price,0.688075,0.105623,0.151948,-0.046701,-0.024650,-0.023737,-0.144160,-0.045967,1.000000